<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script>
        function linkDoDodajPacjenta(){
            window.location.href = "/listaPacjenci/"
        }
        function dodawaniePacjenta(){
            window.location.href = "/listaPacjenci/dodawaniePacjenta/"
        }

    
    </script>
</head>
<body>
    <div id="menuButton">
    <h1>MENU: </h1>
    <button  onclick="dodawaniePacjenta()">Dodawanie pacjenci</button>
    <button  onclick="linkDoDodajPacjenta()">Lista z pacjentami</button>
    </div>


</body>
</html>