<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function linkDoDodajPacjenta(){
            window.location.href = "/listaPacjenci/"
        }
        function dodawaniePacjenta(){
            window.location.href = "/listaPacjenci/dodawaniePacjenta/"
        }
    </script>
</head>
<body>
    <button onclick="dodawaniePacjenta()">Dodawanie pacjenci</button>
    <button onclick="linkDoDodajPacjenta()">Lista z pacjentami</button>


</body>
</html>