<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel sterowanie</title>
    <script>
        function dodawaniePacjenta(){
            window.location.href = "/listaPacjenci/dodawaniePacjenta/"
        }
        function consoleta(event,wartosc_i_ID){
            event.stopPropagation(); // Zatrzymuje propagację zdarzenia
            console.log(wartosc_i_ID);
            fetch("http://127.0.0.1:5000/listaPacjenci/usuwaniePacjenta/", {
            method: 'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body: JSON.stringify({
                ID: wartosc_i_ID,
                
            })
        })

        

        };

        

// Pobieranie pliku JSON
fetch('../static/dane_o_kontach.json')
    .then(response => {
        return response.json();
    })
    .then(data => {
        // Wyświetlanie zawartości JSON na stronie
        const ID_lista = data.map(item =>  item.ID);
        console.log(ID_lista);
        const imie_lista = data.map(item =>  item.Imi\u0119);
        console.log(imie_lista);
        const Nazwisko_lista = data.map(item =>  item.Nazwisko);
        console.log(Nazwisko_lista);
        const Wiek_lista = data.map(item =>  item.Wiek);
        console.log(Wiek_lista);
        const IDbis_lista = data.map(item =>  item._id);
        console.log(IDbis_lista);


        const container = document.getElementById('container');

// Iteracja po elementach tablicy jsonData
        for (let i = 0; i < data.length; i++) {
            if(ID_lista[i]==="Brak"||imie_lista[i]==="Brak"||Nazwisko_lista[i]==="Brak"||Wiek_lista[i]==="Brak"||IDbis_lista[i]==="Brak"){
                continue;
            }

            // Tworzenie nowego elementu div
            const div = document.createElement('div');
            // Wypełnianie go wartościami z JSON
            div.innerHTML = `ID: ${ID_lista[i]} imie: ${imie_lista[i]} Nazwisko: ${Nazwisko_lista[i]} Wiek: ${Wiek_lista[i]}  `+
            `<button onclick="consoleta(event,${ID_lista[i]})">Kosz</button>`;
  
            // Dodanie stylów do div'a
            div.style.cursor = "pointer";
            div.style.padding = "10px";
            div.style.border = "1px solid black";
            div.style.margin = "5px";
            
            // Funkcja przekierowująca na stronę po kliknięciu, ale nie na przycisku
            div.addEventListener('click', function() {
                const naszhref = `/nauka/${imie_lista[i]}`;
                window.location.href = `${encodeURIComponent(naszhref)}`;

                let naszaZmienna = IDbis_lista[i];
                fetch("http://127.0.0.1:5000/listaPacjenci/", {
            method: 'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body: JSON.stringify({
                ID_tajne: naszaZmienna
                
            })
        })
            .then(res => {
                return res.json()
            }
            
)
            .then(data => console.log(data))




        });
            
            
            // Dodanie nowo utworzonego elementu div do kontenera
            container.appendChild(div);
            
            // Dodanie elementu <br> (nowej linii)
            container.appendChild(document.createElement('br'));
        }
    })
    .catch(error => {
        console.error("Wystąpił błąd podczas pobierania pliku JSON:", error);
    });

    </script>
</head>
<body>
    <div id="container"></div>
    <button onclick="dodawaniePacjenta()">Dodawanie pacjenta</button>
    <button onClick="window.location.href=window.location.href">Refresh Page</button>

</body>
</html>